<div class="d-flex mt-3 ml-3 align-items-center mb-3">
    <span class="mr-5">SomeJobName</span> 
    <button class="mr-1" mat-stroked-button color="primary" routerLink="history"  routerLinkActive="mat-accent">History</button >
    <button class="mr-1" mat-stroked-button color="primary" routerLink="default"  routerLinkActive="mat-accent">Job</button>
    <button class="mr-1" mat-stroked-button color="primary" routerLink="calendar" routerLinkActive="mat-accent">Calendar</button>
    <button class="mr-1" mat-stroked-button color="primary" routerLink="build"    routerLinkActive="mat-accent">Build</button>
</div>
<div class="job-page-tab">
    <router-outlet></router-outlet>
</div>
